.node {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
  margin: 1px;
  cursor: pointer;
}

.node.start {
  background-image: url("../assets/symbols/start.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.node.end {
  background-image: url("../assets/symbols/target.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.node.path {
  background-color: #33cc33;
}

.node.wall {
  background-color: #333;
  transition: background-color 0.2s ease; 
}

.node.weighted {
  background-color: #000; 
  color: #fff;
  position: relative;
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
}

.weight-value {
  position: absolute;
  font-size: 10px;
  bottom: 2px;
  right: 2px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
}

.node.visited {
  background-color: #ffcc00;
}

.node.shortest-path {
  background-color: #33cc33; /* Highlight color for the shortest path */
}
